@import url('https://fonts.googleapis.com/css?family=Cagliostro|Courgette|Dosis|Lato');

@media screen and (max-width: 970px){
  .navbar {
    background-color: #2DE8C1;
    color: black;
  }
}

@media screen and (min-width: 971px){                  
.navbar {
    background-color: #2DE8C1;
    height: 65px;
    color: black;
  }                                                  
}

.nav-link {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
}

.nav-link:hover {
  color: #227167;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
}
imgcar {
	width: auto;
	  height: 100px;
	  max-height: 100px;
}
.navbar-brand {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}


body {
  font-family: 'Lato', sans-serif;
}

.blaze{
	background-color:#FFE5B4;
}

.page-footer {
  background-color: #1c2331;
  max-width: 100%;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
}

@media screen and (min-width: 771px){
  .align{
    text-align: justify;
    color: #ffffff;
  }
}


@media screen and (max-width: 770px){
  .align{
    text-align: center;
  }
}

@media screen and (min-width: 771px){
  .vertical {
    border: none;
    border-left: 1px solid #47525e;
    height: 240px;
  }
}

@media screen and (max-width: 770px){
  .vertical{
    width: 200px;
  }
}

h3{
	text-align : center;
	color :blue;
	
}

hr { 

            position: relative; 

            top: 20px; 

            border: none; 

            height: 12px; 

            background: black; 

            margin-bottom: 50px; 

        }

.App {
  text-align: center;
}
